prodigy_results.db
.env
wheel/
judgment_explainability/datasets/
judgment_explainability/documentation
judgment_explainability/annotations/annotation_db_backups
judgment_explainability/annotations/de/
judgment_explainability/annotations/fr/
judgment_explainability/annotations/it/
judgment_explainability/annotations/analysis/*.csv
judgment_explainability/annotations/analysis/*.json
judgment_explainability/annotations/analysis/*.xlsx
judgment_explainability/annotations/analysis/de/
judgment_explainability/annotations/analysis/fr/
judgment_explainability/annotations/analysis/it
judgment_explainability/occlusion/*.jsonl
judgment_explainability/occlusion/*.zip
judgment_prediction/datasets
prodigy_dataset_creation/dataset_scrc
prodigy_dataset_creation/sjp


