prodigy_results.db
.env
wheel/
*/annotation_datasets/
judgment_explainability/documentation/
judgment_explainability/legal_expert_annotations/
judgment_explainability/analysis/*.csv
judgment_explainability/analysis/*.xlsx
judgment_explainability/analysis/de/
judgment_explainability/analysis/fr/
judgment_explainability/analysis/it/
judgment_explainability/analysis/plots/
judgment_explainability/analysis/tabels/
judgment_explainability/occlusion/lower_court_test_sets/
judgment_explainability/occlusion/lower_court_predictions/
judgment_explainability/occlusion/occlusion_test_sets/
judgment_explainability/occlusion/occlusion_predictions/
judgment_explainability/occlusion/*.zip
prodigy_dataset_creation/dataset_scrc
prodigy_dataset_creation/sjp


